{% extends "base.html" %}
{% load static %}

{% block page_header %}  
    <div class="container header-container">
      <div class="row">
      <div class="col"></div>
    </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="row h-100">
      <div class="col-8 col-md-6 mx-auto my-5 text-black">
        <p>ABOUT US</p>
        <p>Bookstore story begins with six friends who worked in the book trade for more than 10 years and all share a passion for reading.
          They believed the kids these days are mostly engaged in social media/ online games / videos and the enjoyment of reading books have diminished.
          So they decided to recapture its spirit with an ambitious venture to establish an alternative online bookshop, especially for kids.</p>

          <p>Started in 2020 we are one the leading online book store</p>

          <p>Our mission is to provide you with best books for your kids to nurture their creativity</p>
          
        </div>      
    </div>
  </div>
{% endblock %}