{% extends "base.html" %}
{% load static %}

{% block page_header %}  
    <div class="container header-container">
      <div class="row">
      <div class="col"></div>
    </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
      <div class="row">
      <div class="col-12 col-md-6 mx-auto my-5">
        <h2 class="display-3"><b>Welcome to the world of books</b></h2> 
        <div class="my-5">
          <h4>
            <a href="#" class="shop-now-button btn btn-dark btn-lg" >Buy</a>
          </h4>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}